.DS_Store

.classpath
.project

platforms/android/bin/
platforms/android/gen/
platforms/android/local.properties

# the line below will be uncommented only when I have a solution for cross platform compiling in development time
# platforms/android/assets/

